<main class="container-fluid min-vh-100 d-flex flex-column">
  <div class="row flex-grow-1">
    <aside class="col-md-2 border">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white">
        <img src="/assets/logo.png" alt="ShowMeNow logo" />
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/" class="nav-link text-white" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Track My Package</a>
          </li>
          <li *ngIf="api.bearerToken === ''">
            <a class="nav-link text-white" (click)="login()">Login with Google</a>
          </li>
          <li *ngIf="api.bearerToken !== ''">
            <a class="nav-link text-white" (click)="logout()">Logout</a>
            <ul>
              <li>
                <a routerLink="/suppliers" class="nav-link text-white" routerLinkActive="active">Suppliers</a>
              </li>
              <li>
                <a routerLink="/shipments" class="nav-link text-white" routerLinkActive="active">Shipments</a>
              </li>
              <li>
                <a routerLink="/customers" class="nav-link text-white" routerLinkActive="active">Customers</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
    <article class="col-md-10 border">
      <router-outlet></router-outlet>
    </article>
  </div>
</main>