/* You can add global styles to this file, and also import other style files */
html,body,main,aside {
    height: 100%;
  }

aside {
    background-color: #563d7c;
    color:white;
}
article {
    padding-left: 2rem;
    padding-top: 0.5rem;
}
section {
    padding-top: 1.5rem;
}
form {
    padding-bottom: 1rem;
}
label {
    width:20rem;
}

aside .nav-pills .nav-link.active, .nav-pills .show >.nav-link  {
    background-color: #674e8d;
}

